.button
{
    width: 25px;
    height: 25px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(221, 217, 217);
    border-width: thin;
    border-color: whitesmoke;  
}

#formTablero
{
    text-align: center;    
}

